@import './sidemenu.css';
@import './dancing-button.css';
@import './modal.css';
@import './tooltip.css';
@import './dropdown.css';
@import './cronometro.css';
@import './menu-mobile.css';
@import './numeros.css';

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}