#menu-mobile>ul {
    display: flex;
    list-style: none;
    background-color: #1248d1;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
}

#menu-mobile>ul>li {
    margin-right: 10px;
}

[data-menu="button"] {
    display: none;
}

@media (max-width: 700px) {
    [data-menu="button"] {
        display: flex;
        position: absolute;
        right: 0;
        align-items: center;
        background-color: #1248d1;
        border: 2px solid white;
        padding: 10px 20px;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
    }

    [data-menu="button"].active::before {
        transform: rotate(90deg);
    }

    [data-menu="button"]::before {
        content: '';
        margin-right: 5px;
        display: inline-block;
        height: 2px;
        width: 12px;
        background: #fff;
        box-shadow: 0 4px #fff, 0 -4px #fff;
        transition: transform .3s;
    }

    [data-menu="list"] {
        display: none !important;
        position: absolute;
        right: 0;
        top: 60px;
        width: 40%;
        z-index: 5;
        background-color: #1248d1;
        box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .2);
    }

    @keyframes show-menu {
        from {
            opacity: 0;
            transform: translate3d(0, -30px, 0);
        }

        to {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }

    [data-menu="list"].active {
        display: block !important;
        animation: show-menu .3s forwards;
    }

    [data-menu="list"]>li {
        margin-bottom: 20px;
    }

}