#tooltip-box>div {
    width: 100%;
    height: 150px;
}

#tooltip-box>div:nth-child(1) {
    background-color: rgb(170, 50, 50);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tooltip-box>div:nth-child(2) {
    background-color: rgb(38, 163, 76);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tooltip-box>div:nth-child(3) {
    background-color: rgb(163, 38, 115);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tooltip {
    background-color: #1248d16c;
    position: absolute;
    z-index: 3;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: rgba(255, 255, 255, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    animation: tooltip .1s forwards;
}

@keyframes tooltip {
    from {
        opacity: 0;
        transform: translate3d(-30px, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}